body{
    height: 100%;
    
    font-family: 'Bungee Shade', cursive;
font-family: 'Pacifico', cursive;
}

.container{

    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    height: 100%;
    width: 100vw;

    
}